{% extends 'base.html' %}
{% block head %}
  <title>忘记密码</title>
  <style>
  body {
      background: url("/static/image/about-bgimg.png") no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
  {#        background-attachment: fixed;}#}
  }
  </style>
{% endblock %}
{% block main%}
    <div id="forgetpassword">
        <div class="fp-head">
            忘记密码
        </div>
        <div id="fp-error"></div>
        <div class="fp-content">
            <label for="fp-email">邮箱:</label> <input id="fp-email" placeholder=" 请输入邮箱!" />
        </div>
        <div class="fp-p">
            <p style="color: #dd2727">我们将给您发送一封邮件,<br>
                根据邮件找回密码</p>
        </div>
        <button class="btn btn-default btn-info fp-btn">提交</button>

    </div>
{% endblock %}