{% extends 'base.html' %}
{% block head %}
  <title>重置密码</title>
  <style>
  body {
      background: url("/static/image/about-bgimg.png") no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
  {#        background-attachment: fixed;}#}
  }
  </style>
{% endblock %}
{% block main %}
    <div id="resetpassword">
        <div class="rp-head">
            重置密码
        </div>
        <div id="rp-error"></div>
        <div class="rp-content">
            <div class="rp-passwords">
                <label for="rp-password1">新密码:</label><input type="password" id="rp-password1"/>
            </div>

            <div class="rp-passwords">
                <label for="rp-password2">确认密码:</label><input type="password" id="rp-password2"/>
            </div>
        </div>

        <button class="btn btn-default btn-info rp-btn" id="rp-btn">提交</button>

    </div>

{% endblock %}